<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signing up </title>
</head>
<body>
    <form>
        <ul>
            First Name:
            Last Name:
            email:
            address:
            genra:

        </ul>
    </form>
        <dev>
            <button type="submit">Submit</button>
        </dev>
    
</body>
</html>